# Rust
/target/
**/target/
Cargo.lock

# macOS
.DS_Store

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo
*~
*.iml

# Debug files
*.dSYM/
*.pdb

# Backup files
*.bak
*.orig

# JetBrains / IntelliJ specific
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml